@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    background-color: black;
}

.shiny-text {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .shiny-text {
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
        text-stroke: 0.5px rgba(255, 255, 255, 0.2);
    }
}

text {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
